<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>トレンドランキング</title>
  <style>
  .title1{
    background-color: rgb(255,230,0);
    }
  
  .No1{
    border: solid 2px gray;
  }
  .title2{
    background-color: rgb(211,211,211);
   }
  .No2{
    border: solid 2px gray;
  }

.title3{
  background-color: rgb(244,164,96);
}
.No3{
  border: solid 1px gray;
}

.No4{
  border: solid 1px gray;
}
.No5{
  border: solid 1px gray;
}
.No6{
  border: solid 1px gray;
}
.No7{
  border: solid 1px gray;
}
.No8{
  border: solid 1px gray;
}
.No9{
  border: solid 1px gray;
}
.No10{
  border: solid 1px gray;
}

  </style>
  





<h1>YouTube</h1>
<br>

<div class="No1">
<div class="title1"><h2>1位 「ちょんまげ小僧」</h2></div>
ちょんまげ小僧は、中学生たちによるYouTuberグループ。奇抜なネーミングセンスや挨拶で話題、
Tiktokを開設し爆発的にバズる。1ヶ月でチャンネル登録者数100万人増加を記録、Fishiersとコラボも実現し今いちばん旬のYouTuber。
<br>
<h3>・メンバー</h3>
<h4>ちょんまげ小僧</h4>
｢ちょっちょっちょんまげ、どうもちょんまげ小僧です。｣ 
<br>
リーダー。髪型が寝起きヤシの木のようにちょんまげみたいな髪型だったことから付けられた。名前がグループ名と同じである。赤色担当。 
<br>
<h4>ナマズ </h4>
｢ナマズゥ。｣ 
<br>
動画編集、Twitter(現X)担当。いじられ役でもありまとめ役でもある。ちょんまげ小僧よりリーダー感は強い。若いながらも編集能力は視聴者から高く評価されている。紫担当。
<br>
<h4>イソ・ギンチャク</h4> 
「ボンジュール。イソ・ギンチャクです」
<br>
挨拶が滑り気味であるが、動画内ではわりと活躍する。個人チャンネルも持っている。茶色担当。
<br> 
<h4>右足 </h4>
｢右足。｣ 
<br>
元々「片足」と言う名前だったが、コンプライアンスを意識し「右足」になった。ピンク担当。 
<br>
<h4>パンダ</h4> 
「森の中からこんにちは、どうも、パンダです。」 
<br>
メンバーの一人。オレンジ担当。初登場時の動画では、リフティング10回にチャレンジするも、体調を崩しチャレンジ未達成のまま、しばらく出演がなかった。翌年2023年1月24日の動画にて復帰とともに、チャレンジを達成させる。 
<br>
<h4>ひき肉</h4> 
「ひき肉でぇす！！」 
<br>
挨拶が特徴的であり、めちゃくちゃキャッチーである。ちょんまげ小僧がバズったのは彼の挨拶の力によるところも大きい。かつて、「コング」という名で活動していた。ちなみに初登場時は人名を名乗っていた。濃い緑担当。 
<br>
<h3>・おすすめ動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3tT_JQtAnnE?autoplay=1&mute=1" title="【報告】僕たち本気出します！！" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


<div class="No2">
<div class="title2"><h2>2位 「HikakinTV」</h2></div>

2位は先日、20億円の新居に引っ越した『ヒカキン』。
<br>
今回の動画では、『ヒカキン』の愛猫である『まるお』と『もふこ』を新居に連れていった。
<br>
以前住んでいたマンションよりも4倍もの広さのある新居を2匹の愛猫たちにご紹介。
<br>
2匹とも初めての階段やプールに興味津々の様子であった。最後に『ヒカキン』は『まるお』と『もふお』に労いのチュール(猫用のご飯)を渡しており、２匹揃って必死に食べている様子は可愛らしい。
<h3>・おすすめ動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-BnK_7jGm3Y?autoplay=1&mute=1" title="20億円のヒカキン新居ハウスツアー！超巨大室内温水プール&amp;庭付きの家" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No3">
<div class="title3"><h2>3位 「スパイダーメーン」</h2></div>
ショート動画を中心に投稿をしているYouTuber「スパイダーメーン（spider-maaaaaaan)」は、スパイダーマンのコスプレをした人物が海外でバズったネタ動画やおもしろ動画
などを投稿しているチャンネル。
<br>
日本人最速でチャンネル登録者数1000万人を達成したスパイダーメーンチャンネルの正体はなんと「ヴァンゆん」のヴァンビだと判明。
<br>
スパイダーマンの他にもピカチュウやハローキティ、ジャック・スパロウなどのコスチューム等のキャラクターと一緒に、見ている人が思わず笑ってしまうような楽しい動画を更新している。
<h3>・おすすめ動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uQQ-vSIuavA?autoplay=1&mute=1" title="Spider-Man funny video 😂😂😂 | SPIDER-MAN Best TikTok September 2022 Part39 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

<div class="No4">
<h2>4位 Fischer's-フィッシャーズ-</h2>
<h3>・おすすめ動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TMe9qtufvUI" title="【ひき肉です】ちょんまげ小僧とテンション0.100%で大爆笑wwwwww" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No5">
<h2>5位 朝倉未来 Mikuru Asakura</h2>
<h3>・おすすめ動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8ld7nKz9ky4" title="BreakingDown9のオーディションvol.2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No6">
<h2>6位 「はじめしゃちょー（hajime）」</h2>
<h3>・おすすめ動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qmZAdKjpthA" title="【おかしい】閉園後の戦慄迷宮に朝まで居たら怪奇現象が起きた。" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No7">
<h2>7位 Lazy Lie Crazy【レイクレ】</h2>
<h3>・おすすめ動画</h3>
</div>

<div class="No8">
<h2>8位 かの/カノックスター</h2>
<h3>・おすすめ動画</h3>
</div>

<div class="No9">
<h2>8位 くれいじーまぐねっと CrazyMagnet</h2>
<h3>・おすすめ動画</h3>
</div>

<div class="No10">
<h2>8位 ばんばんざい</h2>
<h3>・おすすめ動画</h3>
</div>
