<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>トレンドランキング</title>
  <style>
  .title1{
    background-color: rgb(255,230,0);
    }
  
  .No1{
    border: solid 2px gray;
  }
  .title2{
    background-color: rgb(211,211,211);
   }
  .No2{
    border: solid 2px gray;
  }

.title3{
  background-color: rgb(244,164,96);
}
.No3{
  border: solid 1px gray;
}

.No4{
  border: solid 1px gray;
}
.No5{
  border: solid 1px gray;
}
.No6{
  border: solid 1px gray;
}
.No7{
  border: solid 1px gray;
}
.No8{
  border: solid 1px gray;
}
.No9{
  border: solid 1px gray;
}
.No10{
  border: solid 1px gray;
}

  </style>
  
<h1>食べ物</h1>
<br>
<div class="No1">
<div class="title1"><h2>1位 「みそきん」</h2></div>
「みそきん」はヒカキンさんによる初のオリジナルブランド「HIKAKIN PREMIUM」の商品。
<br>
YouTuber・ヒカキンさんが監修するカップラーメンである。
<br>
5月9日に発売され、瞬く間に完売した。
<br>
ヒカキンさんの下積み時代を支え続けたラーメン。
<br>
そんな思いのこもったラーメンは発売後即完売しているくらい人気です。
<br>
価格は「みそきん 濃厚味噌ラーメン」が300円、「みそきん 濃厚味噌メシ」が322円。

<div class="box1">
<h3><image src="/assets/みそきん.jpg" class="box1" width="620" height="413"></h3>
</div>

<div class="No2">
<div class="title2"><h2>2位 「10円パン」</h2></div>
10円パンのルーツは、韓国の慶州(キョンシジュ)。
<br>
10ウォン硬貨をデザインした菓子パン「10ウォンパン」が観光客を中心に大ヒットし、慶州観光の目玉になった。
<br>
それが日本に飛び火し、日本硬貨の10円玉の模様で再現した「10円パン」が若者を中心にブームとなっているのだ。
<br>
基本のチーズ味のほかにカスタード、チョコ、抹茶カスタード、あずきの五種類の味がある。
<br>
10円パンダが値段は500円なのに注意！
<div class="box2">
<h3><image src="/assets/10円パン.jpg" class="box2" width="500" height="500"></h3>
</div>

<div class="No3">
<div class="title3"><h2>3位 「おさつ バター フラペチーノ®」</h2></div>
『おさつ バター フラペチーノ®』はさつまいもの優しい甘さと甘じょっぱいハニーバターのコンビネーションが特長。
<br>
フラペチーノ®のボディには、塩味とバターの香りを閉じ込めた焼き芋をごろっとチャンクのままブレンド。
<br>
ホクホクとしたさつまいもの感覚を味わえる。カップの底には塩気が程よく効いた塩味 芋けんぴを忍ばせ、一口吸うたびにカリカリの食感が楽しめる。
<br>
ホイップクリームには甘じょっぱいハニーバターソースを回しかけ、塩味芋けんぴも散りばめることで、より一層焼き芋とバターの魅力が引き出ている。
<br>
旬の味わいをぎゅっと詰め込んだフラペチーノ®で、秋の到来が楽しめる。
<div class="box3">
<h3><image src="/assets/スタバ.jpg" class="box3" width="580" height="360"></h3>
</div>

<div class="No4">
<h2>4位 ピノ　蜜芋ブリュレ味～安納芋～</h2>
<div class="box4">
<h3><image src="/assets/ピノ.jpg" class="box4" width="548" height="438"></h3>
</div>


<div class="No5">
<h2>5位 ライスペーパー</h2>
<div class="box5">
<h3><image src="/assets/ライスペーパー.jpg" class="box5" width="500" height="500"></h3>
</div>

<div class="No6">
<h2>6位 カヌレ</h2>
<div class="box6">
<h3><image src="/assets/カヌレ.webp" class="box6" width="500" height="500"></h3>
</div>

<div class="No7">
<h2>7位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No8">
<h2>8位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No9">
<h2>9位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No10">
<h2>10位 </h2>
<h3>・おすすめ動画</h3>

</div>
