<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>トレンドランキング</title>
  <style>
  .title1{
    background-color: rgb(255,230,0);
    }
  
  .No1{
    border: solid 2px gray;
  }
  .title2{
    background-color: rgb(211,211,211);
   }
  .No2{
    border: solid 2px gray;
  }

.title3{
  background-color: rgb(244,164,96);
}
.No3{
  border: solid 1px gray;
}

.No4{
  border: solid 1px gray;
}
.No5{
  border: solid 1px gray;
}
.No6{
  border: solid 1px gray;
}
.No7{
  border: solid 1px gray;
}
.No8{
  border: solid 1px gray;
}
.No9{
  border: solid 1px gray;
}
.No10{
  border: solid 1px gray;
}

  </style>
  
<h1>音楽</h1>
<br>
<div class="No1">
<div class="title1"><h2>1位 「アイドル/YOASOBI」</h2></div>
1位には音楽ユニット・YOASOBIが4月12日に配信リリースした楽曲「アイドル」が選ばれた。
<br>
YOASOBI「アイドル」はテレビアニメ「【推しの子】」のオープニング主題歌。
<br>
「完璧で究極のアイドル」「一番星の生まれ変わり」などつい自分の“推し”に当てはめたくなるようなキラキラとしたワードが散りばめられており、TikTokなどのSNSでは同曲を使用し、“推し”の素材を組み合わせたMADムービーの投稿が後を絶たない。
<br>
また、楽曲の流行は日本を越え、ビルボードGlobal 200から米国のデータを除外したチャートとなる「The Global Excl. U.S. top 10」で首位を獲得。
<br>

<h3>参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZRtdQ81jPUQ?autoplay=1&mute=1" title="YOASOBI「アイドル」 Official Music Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No2">
<div class="title2"><h2>2位 「美しい鰭/スピッツ」</h2></div>
2位は日本を代表するロックバンド「スピッツ」の最新シングル『美しい鰭(ひれ)』。
<br>
劇場版「名探偵コナン 黒鉄の魚影(サブマリン)」の主題歌にも起用された。
<h3>参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/KbGPM9jFeGg?autoplay=1&mute=1" title="スピッツ / 美しい鰭" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No3">
<div class="title3"><h2>3位 「青のすみか/キタニタツヤ」</h2></div>
3位はシンガーソングライターとして活躍するキタニタツヤさんがリリースした「青のすみか」。
<br>
TVアニメ『呪術廻戦』第2期「懐玉・玉折」OPテーマ曲である。
<h3>参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zuoVd2QNxJo?autoplay=1&mute=1" title="青のすみか / キタニタツヤ - Where Our Blue Is / Tatsuya Kitani" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No4">
<h2>4位 「ガーデン/藤井風」</h2>
<h3>・参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/53rIic2lvKc?autoplay=1&mute=1" title="Garden" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No5">
<h2>5位 「貴方の恋人になりたい/チョーキュウメイ」</h2>
<h3>参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dJhp6awU5Z8?autoplay=1&mute=1" title="『貴方の恋人になりたい』Music Video ／ チョーキューメイ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No6">
<h2>6位 「ファジーネーブル/Conton Candy」</h2>
<h3>・参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TSYtV4xa8Pw?autoplay=1&mute=1" title="Conton Candy - ファジーネーブル [Official Video]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No7">
<h2>7位 「ケセラセラ/Mrs. GREEN APPLE」</h2>
<h3>・参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Jy-QS27q7lA?autoplay=1&mute=1" title="Mrs. GREEN APPLE「ケセラセラ」Official Music Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No8">
<h2>8位 「君のまま/百足＆韻マン</h2>
<h3>・参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/u7rBhwaMGwM?autoplay=1&mute=1" title="百足 &amp; 韻マン - 君のまま (Prod. @thekontrabandz)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No9">
<h2>9位 「Super Shy/NewJeans (뉴진스) </h2>
<h3>・参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ArmDp-zijuc?autoplay=1&mute=1" title="NewJeans (뉴진스) &#39;Super Shy&#39; Official MV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="No10">
<h2>10位 「Bad B*tch 美学/Awich, NENE, LANA, MaRI, AI & YURIYAN RETRIEVER</h2>
<h3>・参考動画</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ecHhCHKu3Hs?autoplay=1&mute=1" title="Awich, NENE, LANA, MaRI, AI &amp; YURIYAN RETRIEVER - Bad B*tch 美学 Remix (Prod. Chaki Zulu)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
