<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>トレンドランキング</title>
  <style>
  .title1{
    background-color: rgb(255,230,0);
    }
  
  .No1{
    border: solid 2px gray;
  }
  .title2{
    background-color: rgb(211,211,211);
   }
  .No2{
    border: solid 2px gray;
  }

.title3{
  background-color: rgb(244,164,96);
}
.No3{
  border: solid 1px gray;
}

.No4{
  border: solid 1px gray;
}
.No5{
  border: solid 1px gray;
}
.No6{
  border: solid 1px gray;
}
.No7{
  border: solid 1px gray;
}
.No8{
  border: solid 1px gray;
}
.No9{
  border: solid 1px gray;
}
.No10{
  border: solid 1px gray;
}

  </style>
  
<h1>コスメ</h1>
<br>
<div class="No1">
<div class="title1"><h2>1位 「」</h2></div>
<h3>・おすすめ動画</h3>

</div>

<div class="No2">
<div class="title2"><h2>2位 「」</h2></div>
<h3>・おすすめ動画</h3>

</div>

<div class="No3">
<div class="title3"><h2>3位 「」</h2></div>
<h3>・おすすめ動画</h3>

</div>

<div class="No4">
<h2>4位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No5">
<h2>5位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No6">
<h2>6位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No7">
<h2>7位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No8">
<h2>8位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No9">
<h2>9位 </h2>
<h3>・おすすめ動画</h3>

</div>

<div class="No10">
<h2>10位 </h2>
<h3>・おすすめ動画</h3>

</div>



